{% extends '@DynamicSearch/layout.html.twig' %}

{% block dynamic_search_list_content %}

    {{ parent() }}

    {% if has_error == false %}

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        {% include '@DynamicSearch/Common/_search_form.html.twig' %}

        {% if search_active == true %}
            {% if total_count > 0 %}
                <small class="mb-4 d-block">{{ 'dynamic_search.ui.we-found'|trans }}
                    <span class="badge badge-dark">
                                {% transchoice total_count with {'%count%': total_count} %}dynamic_search.ui.items-for{% endtranschoice %}
                                </span>
                    <em>"{{ user_query }}"</em></small>
            {% endif %}
            {% include '@DynamicSearch/Common/List/_wrapper.html.twig' %}
        {% endif %}

        {{ form_end(form) }}

    {% endif %}

{% endblock %}