{% extends '@DynamicSearch/layout.html.twig' %}
{% import '@DynamicSearch/Common/Macro/counter.htmlt.twig' as counter %}

{% set active_tab = app.request.query.has('ds-selected-tab') ? app.request.query.get('ds-selected-tab') : null %}

{% block dynamic_search_list_content %}

    {{ parent() }}

    {% if has_error == false %}

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        {% include '@DynamicSearch/Common/_search_form.html.twig' %}

        {% if search_active == true %}

            <ul class="nav nav-tabs mb-5 dynamic-search-tabs" role="tablist">

                {% for identifier, block in blocks %}
                    <li class="nav-item">
                        {% set active = active_tab is not empty ? active_tab == identifier : loop.first %}
                        <a class="nav-link {{ active ? 'active' : '' }}" data-identifier="{{ identifier }}" id="{{ identifier }}-tab" data-toggle="tab" href="#{{ identifier }}"
                           role="tab"
                           aria-controls="{{ identifier }}" aria-selected="true">{{ identifier }} {{ counter.count(block) }}</a>
                    </li>
                {% endfor %}

            </ul>
            <div class="tab-content">

                {% if blocks is iterable and blocks|length > 0 %}
                    {% for identifier, block in blocks %}
                        {% set active = active_tab is not empty ? active_tab == identifier : loop.first %}
                        <div class="tab-pane fade show {{ active ? 'active' : '' }}" id="{{ identifier }}" role="tabpanel" aria-labelledby="{{ identifier }}-tab">
                            {% include '@DynamicSearch/Common/List/_wrapper.html.twig' with {
                                filter: block.filter,
                                paginator: block.paginator,
                                current_page: block.current_page,
                                page_identifier: block.page_identifier,
                                oc_allocator: block.oc_allocator,
                                total_count: block.total_count,
                                data: block.data,
                            } %}
                        </div>
                    {% endfor %}
                {% else %}
                    <span class="no-result">{{ 'dynamic_search.ui.no_results'|trans }}</span>
                {% endif %}

            </div>

        {% endif %}

        <input type="hidden" name="ds-selected-tab" value="{{ active_tab }}">

        {{ form_end(form) }}

    {% endif %}

{% endblock %}