<a href="{{ document.uri is defined ? document.uri : '#' }}" class="list-group-item list-group-item-action flex-column align-items-start">

    <div class="d-flex w-100 justify-content-between">
        {% if document.title is defined %}
            <h5 class="mb-1">{{ document.title }}</h5>
        {% endif %}
        {% if document.language is defined %}
            <small class="text-muted">{{ document.language }} <span class="badge badge-primary">ID {{ document.id }}</span></small>
        {% endif %}
    </div>

    {% if document.content is defined %}
        <p class="mb-1">{{ document.content|raw }}</p>
    {% endif %}

    {% if document.uri is defined %}
        <small class="text-muted">{{ document.uri }}</small>
    {% endif %}

</a>
